@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

html, body {
  background: black;
  color: #086608;
  margin:0;
  padding: 0;
  padding-top: 10px;
  font-family: 'Courier Prime', monospace;
  text-align: center;
  text-transform: uppercase;
}

body {
  font-weight: 400;
}

button {
  font-family: 'Courier Prime', monospace;
  font-weight: 600;
  display: block;
  margin: 0 auto;
  border: none;
  background: #086608;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

h1 {
  font-size: 20px;
  text-align:center;
  margin: 5px auto;
}

.watermark {
  margin-top: 100px;
  font-size: 16px;
}

h4{
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 13px;
}

textarea {
  font-family: 'Courier Prime', monospace;
  font-size: 24px;
  border: 3px solid black;
  width: 70%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: #00b800;
  padding: 10px;
}

textarea:disabled {
  background-color: #d6d0d09d;
  cursor: not-allowed;
}

.game{
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}

@media  (min-width: 850px) {
  textarea {
    width: 30%;
  }
  
  
}